---
import Layout from '../layouts/Layout.astro';
import Footer from '../components/home/Footer.astro';
import Contact from '../components/home/Contact.astro';
import Partners from '../components/home/Partners.astro';
import About from '../components/home/About.astro';
import ActivityPhotos from '../components/home/ActivityPhotos.astro';
---

<Layout title="Tech Camp #1">
	<header class="relative bg-neutral-900">
		<video autoplay muted loop playsinline id="myVideo">
			<source src="/assets/Bg.webm" type="video/webm; codecs=vp9">
			<source src="/assets/Bg.mp4" type="video/mp4">
		</video>
		<div class="absolute inset-0 flex flex-col justify-center gap-5 items-center text-white">
			<img src="/assets/7.png" alt="Tech Camp Logo" width="600" />
			<h1 class="text-xl font-bold text-center">วันที่ 17 มิถุนายน พ.ศ. 2566 ณ รร. หอวังปทุมธานี</h1>
			<a href="/projects" class="focus:outline-none text-white focus:ring-4 font-medium rounded-lg text-base px-6 py-3.5 mr-2 mb-2 bg-red-600 hover:bg-red-700 focus:ring-red-900">ผลงานของน้อง ๆ ในค่าย <i class="bi bi-arrow-right"></i></a>
		</div>
	</header>
	<main class="text-white grid-bg">
		<About />
		<ActivityPhotos />
		<Partners />
		<Contact />
		<Footer />
	</main>
</Layout>

<style scoped>
video {
	/* position: fixed; */
  width: 100%;
  min-height: 100vh;
  z-index: -1;
  overflow: hidden;
	top: 0;
  left: 0;
	object-fit: cover;
	object-position: center;
}

.grid-bg {
	background-size: 40px 40px;
	background-image:
	linear-gradient(to right, #262626 1px, transparent 1px),
	linear-gradient(to bottom, #262626 1px, transparent 1px);
}
</style>