---
import ProjectCard from '../components/ProjectCard.astro';
import Layout from '../layouts/Layout.astro';

const nonGroup = [2, 3, 7, 9, 12, 13, 25, 26, 29];
---

<Layout title="Projects | Tech Camp #1">
	<main class="grid-bg">
		<div>
			<a href="/" aria-label="Go back home">
				<img
					src="/assets/7.png"
					alt="Tech Camp #1 Logo"
					width="300"
					class="mx-auto py-10"
				/>
				<h1 class="text-center text-3xl font-bold">
					ผลงานของน้อง ๆ จากค่าย Tech Camp ครั้งที่ 1
				</h1>
			</a>
		</div>
		<div class="p-4">
			<div class="grid grid-cols-12 gap-4">
				{
					new Array(38).fill(0).map((_, i) => {
						if (nonGroup.includes(i + 1)) return;
						return <ProjectCard group={`H${i + 1}`} href={`/projects/h${i + 1}`}/>
				}) 
				}
			</div>
		</div>
	</main>
</Layout>

<style scoped>
.grid-bg {
	background-size: 40px 40px;
	background-image:
	linear-gradient(to right, #262626 1px, transparent 1px),
	linear-gradient(to bottom, #262626 1px, transparent 1px);
}
</style>