<section class="py-40 px-5 bg-gradient-to-t from-black to-transparent">
  <div class="container max-w-5xl mx-auto grid grid-cols-1 gap-5 place-items-center md:grid-cols-2">
    <div class="p-5 space-y-3">
      <h2 class="text-3xl font-bold mb-5">Tech Camp #1 <span class="text-red-500">x</span> สานสายใยวิทย์-คอม 2566</h2>
      <p class="lead">
        โรงเรียนหอวัง ปทุมธานี ร่วมกับ กลุ่มกิจกรรมเทคโนโลยี มหาวิทยาลัยเกษตรศาสตร์ จัดกิจกรรมเทคแคมป์ ครั้งที่ 1 และ สานสายใยวิทย์ – คอม ณ. โรงเรียนหอวัง ปทุมธานี
      </p>
      <p>
        โดยมีวัตถุประสงค์ เพื่อให้นักเรียนสายวิทยาศาสตร์-คณิตศาสตร์ (เน้นคอมพิวตอร์) ได้ทำความรู้จักร่วมกันผ่านกิจกรรมนันทนาการ และพัฒนาทักษะการเรียนโปรแกรมเบื้องต้น ผ่าน HTML, CSS, Bootstrap ผ่านการทำเว็บไซต์ร่วมกัน
      </p>
    </div>
    <div class="mx-10 mt-10">
      <img src="/assets/c1.webp" alt="Activity Photo" class="w-full rotate-[4deg] shadow-lg shadow-red-800"/>
    </div>
  </div>
</section>