---
import Gallery from "../Gallery";
---

<section class="py-20 px-5 bg-black">
  <div class="container mx-auto">
    <h2 class="text-3xl text-center font-bold mb-16">ภาพกิจกรรม</h2>
    <Gallery client:only />	
  </div>
</section>