<section class="pb-40 pt-20">
  <div class="container mx-auto">
    <h2 class="text-3xl text-center font-bold mb-16">ติดตามข่าวสาร</h2>
    <div class="flex justify-center gap-10 text-3xl md:text-5xl">
      <a href="https://www.facebook.com/ku.t3ch" class="hover:text-red-500 duration-200" target="_blank" aria-label="facebook">
        <i class="bi bi-facebook"></i>
      </a>
      <a href="https://www.instagram.com/ku.t3ch/" class="hover:text-red-500 duration-200" target="_blank" aria-label="instagram">
        <i class="bi bi-instagram"></i>
      </a>
      <a href="https://kutech.club/" class="hover:text-red-500 duration-200" target="_blank" aria-label="website">
        <i class="bi bi-globe2"></i>
      </a>
    </div>
  </div> 
</section>