<section class="pb-40 pt-20">
  <div class="container mx-auto">
    <h2 class="text-3xl text-center font-bold mb-16">ติดตามข่าวสาร</h2>
    <div class="flex justify-center gap-10 text-3xl md:text-5xl">
      <a href="https://www.facebook.com/ku.t3ch" class="hover:text-red-500 duration-200" target="_blank"><i class="bi bi-facebook" aria-label="facebook"></i></a>
      <a href="https://www.instagram.com/ku.t3ch/" class="hover:text-red-500 duration-200" target="_blank"><i class="bi bi-instagram" aria-label="instagram"></i></a>
      <a href="https://kutech.club/" class="hover:text-red-500 duration-200" target="_blank"><i class="bi bi-globe2" aria-label="website"></i></a>
    </div>
  </div> 
</section>