<footer class="bg-black py-10 px-5">
  <div class="container mx-auto space-y-2">
    <a href="https://tech.nisit.ku.ac.th" target="_blank">
      <img src="/assets/KUTech-W.svg" alt="KU Tech Logo" width="100"/>
    </a>
    <div class="flex flex-col gap-3 sm:flex-row justify-between pl-4">
      <p class="text-sm">&copy; 2023 KU Tech. All right reserved.</p>
      <ul>
        <li>
          <a href="#" class="underline">Scroll to top <i class="bi bi-arrow-up-short"></i></a>
        </li>
      </ul>
    </div>
  </div>
</footer>