<section class="py-40 bg-gradient-to-b from-black to-transparent">
  <div class="container mx-auto">
    <h2 class="text-3xl text-center font-bold mb-16">ร่วมสนับสนุนโดย</h2>
    <div class="flex gap-20 justify-center items-center">
      <a href="https://www.ku.ac.th/">
        <img src="/assets/KU_Logo_PNG.png" alt="Kasetsart University Logo" width="150"/>
      </a>
      <a href="https://hwp.ac.th/">
        <img src="/assets/logo_hwp_y.png" alt="Horwang Pathumthani School Logo" width="150"/>
      </a>
    </div>
  </div> 
</section>