---
export interface Props {
	group: string;
	href: string;
	thumbnail: string;
}

const { href, group, thumbnail } = Astro.props;

---

<a
	href={href}
	class="relative col-span-12 flex h-[12rem] flex-col justify-end overflow-hidden rounded-lg border border-neutral-700 bg-neutral-800 shadow-lg hover:bg-neutral-900 md:col-span-4 hover:scale-105 duration-200"
>
	<div class="flex flex-col gap-2 relative">
		<img src={thumbnail} alt={`${group} preview`} class="w-full h-full object-cover object-center" loading="lazy" />
		<div class="absolute bottom-0 bg-gradient-to-t from-neutral-800 to-transparent w-full h-1/2"></div>
		<div class="absolute bottom-0 w-full">
			<h4 class="text-xl font-medium mb-3 ml-3">{group}</h4>
		</div>
	</div>
</a>

