---
export interface Props {
	group: string;
	href: string;
}

const { href, group } = Astro.props;

console.log(href)
---

<a
	href={href}
	class="relative col-span-12 flex h-[12rem] flex-col justify-end overflow-hidden rounded-lg border border-sand-6 bg-gray-100 shadow-lg hover:bg-gray-200 md:col-span-4"
>
	<div class="flex flex-col gap-2 p-2">
		<div>
			<h4 class="text-xl font-medium text-sand-12">{group}</h4>
		</div>
	</div>
</a>

