---
export interface Props {
	group: string;
	href: string;
}

const { href, group } = Astro.props;
---

<a
	href={href}
	class="relative col-span-12 flex h-[12rem] flex-col justify-end overflow-hidden rounded-lg border border-neutral-700 bg-neutral-800 shadow-lg hover:bg-neutral-900 md:col-span-4"
>
	<div class="flex flex-col gap-2 p-2">
		<div>
			<h4 class="text-xl font-medium">{group}</h4>
		</div>
	</div>
</a>

